/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 10px;
}

form{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    width: 500px;
    border: 2px solid black;
    margin: 0 auto;
    background-color: rgb(96,96,96);
    box-shadow:  4px 4px 5px black;
    border-radius: 10px;
}

form textarea{
    resize: none;
}

form>*:not(:last-child){
    margin-bottom: 10px;
} */

.main{
    display: flex;
    background-image: url("../media/Rectangle.png");
    color: white;
    padding: 0 205px;
    padding-top: 122px;
    padding-bottom: 140px;

}

.main .contacts h1{
    font-family: 'Merriweather', serif;
    font-weight: 900;
}

.main .contacts p{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.main .contacts .contacts_content{
    display: flex;
}

.main .contacts .contacts_content>div{
    display: flex;
    align-items: center;
}
.main .message_form form h4{
    font-family: 'Lato', sans-serif;
    font-weight: 400px;
    font-size: 16px;
}

.main .message_form .user_data{
    display: flex;
}

.main .message_form .user_data>div:not(:last-child){
    margin-right: 30px;
}

.main .message_form .user_data input{
    padding-bottom: 15px;
    background-color: transparent;
    border: none;
    font-size: 21px;
    margin-top: 15px;
    border-bottom: 1px solid #FFFFFF;
}
.main .message_form form .user_data input:focus-visible{
    outline: none;
}






