*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
}

/* .container{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    background-color: black;
    transition: width 1s cubic-bezier(0.76,-1.71, 0.22, 2.49) 0s, height 1s cubic-bezier(0.76,-1.71, 0.22, 2.49) 1s;
    transition: all 1s cubic-bezier(0.76,-1.71, 0.22, 2.49) 0s;
}

.container:hover{
    width: 350px;
    height: 350px;
    background-color: red;
} */

/* .box{
    width: 50px;
    height: 50px;
    background-color: black;
    margin-bottom: 20px;
    transition-duration: 1s;
}

.ease .box{
    transition-timing-function: ease;

}

.linear .box{
    transition-timing-function: linear;
}

.ease-in .box{
    transition-timing-function: ease-in;
}

.ease-in-out .box{
    transition-timing-function: ease-in-out;
}

.ease-out .box{
    transition-timing-function: ease-out;
}

.box:hover{
    transform: scale(2);
}

.img-block{
    width: 250px;
    height: 250px;
    transition: all 1.5s ease-out 0s;
    
}

.img-block img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-block:hover{
    box-shadow: 10px 10px 20px black;
    transform: rotate(360deg);

} */

body {
    background-color: aqua;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 60px;
}

form {
    box-shadow: 5px 5px 20px black;
    border-radius: 5px;
    margin-bottom: 10px;
}

form .form-content {
    background-color: white;
    border: 1px solid gray;
    padding: 10px;
    /* color: white; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

form .form-content>*:not(:last-child) {
    margin-bottom: 10px;
}

form .form-content input {
    /* border: none; */
    border-radius: 5px;
    padding: 15px;
    background-color: grey;
    transition: all 0.5s ease-out 0s;

}

form .form-content input::placeholder{
color: white;
}

form .form-content button {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: green;
} 

form .form-content input:focus{
    transform: scale(1.2);
    border: none;
    outline: none;
}

form .form-content input:hover{
    box-shadow: 5px 5px 5px black;
}

form .form-content button:hover{
    outline: 1px solid green;
    background-color: grey;
    color: green

}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: green;
}

 ul{
    list-style: none;
 }

 li::before{
    content: "❁";
    padding-right: 10px;
 }

 li::after{
    content: "❁";
    padding-left: 10px;
 }

 blockquote{
    background-color: aquamarine;
    border-left: 2px solid blue;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
 }
blockquote::after, blockquote::before{
    color: brown;
    font-size: 40px;
}
 blockquote::after{
    content: "”";
 }

 blockquote::before{
    content: "“"
 }

 .img-block{
    width: 200px;
    height: 200px;
    position: relative;
    display: inline-block;
    margin-right: 50px;
 }

 .img-block img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

 .img-block::after{
    content: attr(data-status);
    background-color: red;
    padding: 3px 7px;
    position: absolute;
    top:0;
    right:0;
    border-radius: 5px;
    transform: translate(50%, -50%);
    transition: all 0.5s ease 0s;
    opacity: 0;
 }

 .img-block:hover:after{
    opacity: 1;
 }