*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 10px;
}

.form-container, .products-container {
    width: 70%;
    margin: 0 auto;
    border: 1px solid rgb(0, 33, 33);
    background-color: azure;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 10px black;
}

.form-container {
    margin-bottom: 50px;
}

.form-container h2 {
    text-align: center;
    margin: 10px 0;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container form *:not(:last-child) {
    margin-bottom: 10px;
}

.form-container form input {
    padding: 15px 5px;
}

.form-container form button {
    padding: 15px 5px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: azure;
    font-size: 24px;
    background-color: cadetblue;
}

.form-container form button:hover {
    /* color:rgb(0, 57, 59); */
    background-color: green;
}

.products-container h2 {
    text-align: center;
    margin: 10px 0;
}

.products-container .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products-container .products .card {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 7px black;
    background-color: silver;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 22px;
}

.products-container .products .card p:not(:last-child) {
    margin-bottom: 5px;
}

.products-container .products .card{
    margin-bottom: 10px;
}