*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.card-form h1{
    text-align: center;
}

.card-form form{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: #fafafa;

}

.card-form form input[type=text]{
    padding: 5px 15px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    border: none;

}

.card-form form input[type=text]:focus{
    outline: none;
    box-shadow: 0 4px 2px rgba(0,0,0,0.2);

}

.card-form form *:not(:last-child){
    margin-bottom: 10px;
}

.card-form form button{
    padding: 7px 15px;
    border-radius: 5px;
    background-color: darkgray;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
}

.card-form form button:hover{
    color: #b4b4b4;
    background-color: dimgray;

}

.cards{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 20px;

}

.cards .card{
    width: 200px;
    height: 200px;

    cursor: pointer;
    position: relative;

}

.cards .card .card-front, .cards .card .card-back{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: transform 0.6 ease-in-out;
}

.cards .card .card-back{
    background-color: aqua;
}

.cards .card .card-front{
    background-color: blue;

}

.cards .card .card-back{
    transform: rotateY(180deg);
}

.card:hover .card-back{
    transform: rotateY(0);
}
.card:hover .card-front{
    transform: rotateY(180deg);
}