*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
}

h1{
    text-align: center;
}

form{
    display: flex;
    justify-content: center;
}

form #new-item-date {
    margin-right: 10px;
padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

form #new-item-input{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}
form #new-item-input:focus, #todo-list li input[type=text]:focus{
    outline: none;
    border: 1px solid #6c6c6c;
}

form #add-item{
    padding: 5px 10px;
    background-color: darkslategray;
    border: 1px solid black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



form #add-item:hover, #todo-list li button:hover{
    background-color: black;
}

#todo-list{
    list-style: none;
    padding: 10px;
    margin-top: 10px;
}

#todo-list li{
display: flex;
justify-content: space-between;
padding: 10px;
align-items: center;
border-radius: 5px;
background-color: #ccc;
cursor: pointer;
position: relative;
}

.checked{
    text-decoration: line-through;
}

#todo-list li:not(:last-child){
    margin-bottom: 15px;
}

#todo-list li label{
    width: 70%;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#todo-list li input[type=text]{
    width: 70%;
    padding: 2px 10px;
    border-radius: 5px;
   border: 1px solid #ccc;

}

#todo-list li:hover{
    box-shadow: 0 1px 5px black;
}

#todo-list li button{
      background-color: rgb(130, 130, 130);;
        cursor: pointer;
        color: white;
        border: none;
        outline: none;
        border-radius: 5px;
        font-size: 12px;
        padding: 3px 5px;
    
    }

    #todo-list li button:not(:last-child){
        margin-right: 5px;
    }

    .hidden{
        display: none;
    }

    #todo-list li::after{
        content: attr(data-date);
        font-size: 10px;
        position: absolute;
        cursor: pointer;
        right: 0;
        top: -10px
    }





